:root {
  --tabbedBtnBackground: transparent;
  --tabbedBtnBackgroundActive: transparent;
  --tabbedBtnColor: var(--color-black, #000);
  --tabbedBtnColorActive: var(--color-grey, #808080);
  --tabbedBtnColorDesktop: var(--color-black, #000);
  --tabbedBtnColorDesktopActive: var(--color-grey, #808080);
}

.c-tabbed-content__wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow: hidden;

  @media screen and (min-width: 56.25rem)  {
    flex-direction: row;
    gap: 1.5rem;
  }

  & > {
    .c-tabbed-content__nav-heading {
      display: none;
    }
  }
}

.c-tabbed-content__nav {
  overflow: auto;
  padding-left: 1rem;
  position: relative;
  width: 100%;

  @media screen and (min-width: 56.25rem)  {
    width: 25%;
    overflow: unset;
    padding-left: unset;
  }
}

.c-tabbed-content__nav-wrapper {
  display: flex;
  gap: 1rem;
  -webkit-overflow-scrolling: touch;
  overflow-x: auto;
  padding: 0 1rem;

  @media screen and (min-width: 56.25rem)  {
    flex-direction: column;
    gap: 20px;
    min-height: 440px;
    padding: 2rem 2rem 2rem 0;
    align-items: flex-end;
    position: relative;
    width: 100%;
    height: 100%;
  }
}

.c-tabbed-content__nav-btn {
  @include h5;
  align-items: center;
  background-color: var(--tabbedBtnBackground);
  border-radius: 60px;
  color: var(--tabbedBtnColor);
  display: flex;
  line-height: unset;
  padding: 0;
  position: relative;
  white-space: nowrap;

  @media screen and (min-width: 56.25rem)  {
    background-color: transparent;
    border-radius: unset;
    color: var(--tabbedBtnColorDesktop);
    padding: unset;
    text-align: right;
    white-space: unset;
  }

  &--active,
  &:hover {
    background-color: var(--tabbedBtnBackgroundActive);
    color: var(--tabbedBtnColorActive);
    text-decoration: underline;

    @media screen and (min-width: 56.25rem)  {
      background-color: transparent;
      color: var(--tabbedBtnColorDesktopActive);
      text-decoration: unset;
    }
  }
}

.c-tabbed-content__nav-btn__icon {
  @include transition(width);
  display: none;
  height: 20px;
  overflow: hidden;

  @media screen and (min-width: 56.25rem)  {
    display: block;
    position: relative;
    width: 0;

    .c-tabbed-content__nav-btn:hover &,
    .c-tabbed-content__nav-btn--active & {
      width: 30px;
    }
  }
}

.c-tabbed-content__nav-heading {
  color: var(--color-grey, #808080);
  text-align: center;

  @media screen and (min-width: 56.25rem)  {
    text-align: right;
  }
}

.c-tabbed-content__pages {
  padding: 0 1rem;
  position: relative;
  width: 100%;

  @media screen and (min-width: 56.25rem)  {
    padding: 0;
    width: 75%;
  }
}

.c-tabbed-content__page {
  background: var(--color-white, #fff);
  border: 1px solid var(--color-grey, #808080);
  border-radius: 0.75rem;
  opacity: 0;
  padding: 1.5rem;
  @include transition((transform, opacity));
  position: absolute;
  top: 0;
  transform: translateX(100%);
  visibility: hidden;

  @media screen and (min-width: 56.25rem)  {
    padding: 2rem;
    height: 100%;
  }

  &--active {
    opacity: 1 !important;
    position: relative;
    transform: translateX(0) !important;
    visibility: visible;
  }

  .has-background & {
    background: inherit;
  }
}


// Overwrites for blocks within tabbed content
.c-tabbed-content {

  .c-gallery  {
    overflow: hidden;

    .o-wrapper {
      padding: 0;
    }
  }

  .c-base-image-block figure {
    border-radius: 12px;
  }

  .c-outerblocks {
    padding: 0;
  }

  .c-image-content__image {
    height: auto;
  }

  .c-image-content__content {
    padding-right: 0;
  }
}


