.c-heading-text {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;

  @screen desk {
    grid-template-columns: 1fr 1fr;
    gap: 24px;
  }

  &__text {
    display: flex;
    align-items: flex-end;
    color: theme('colors.black');
  }
}
