.c-heading-text {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;

  @media screen and (min-width: 75rem)  {
    grid-template-columns: 1fr 1fr;
    gap: 24px;
  }

  &__text {
    display: flex;
    align-items: flex-end;
    color: var(--color-black, #000);
  }
}
