.pagination-blocks,
.c-pagination--blocks {

  .current,
  .c-pagination__page--current {
    background-color: var(--color-grey, #808080);
    color: var(--color-black, #000);
  }

  .c-pagination__page {
    border-radius: 4px;
    &:hover,
    &:active,
    &:focus {
      background-color: var(--color-grey, #808080);
      color: var(--color-black, #000);
    }
  }
}
